div, h1, li, dd, dt, dl, button {
outline: 1px dashed black;
}

#everything {
width: 80%;
margin: auto;
height: 580px;
}

#status {
height: 20%;
}

#time, #progress {
width: 25%;
height: 100%;
float: left;
}

h1 {
width: 50%;
height: 100%;
float: left;
text-align: center;
}

#found{
height: 50%;
}

#found > li{
width: 10%;
height: 100%;
float: left;
}

#play, #control {
}

#play {
float: left;
width: 50%;
height: 40%;
}

#play > div {
height: 33.3%;
}

#control {
float: right;
padding-top: 5%;
width: 50%;
height: 35%;
}

#control > button {
width: 80%;
margin: 0% 10%;
}

#score {
width: 80%;
height: 50%;
margin: auto;
}

#score dd {
height: 80%;
}
