body {
    font-size: 20px;
}

/* div, h1, li, dd, dt, dl, button { */
/*     outline: 1px dashed black; */
/* } */

dt{
    font-size: 1em;
}

dd{
    text-align: center;
    font-size: 2.5em;
    padding-top: .1em;
}

#everything {
    width: 80%;
    margin: auto;
    height: 580px;
    margin-top: 1em;
}

#status {
    height: 20%;
    width: 100%;
}

#time, #progress {
    width: 20%;
    height: 90%;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}

#time dt {
    height: 25%;
}

#time dd {
    height: 50%;
    text-align: center;
}

h1 {
    width: 50%;
    height: 85%;
    float: left;
    text-align: center;
    font-size: 3em;
    padding-top: .25em;
}

#progress > dd, 
#progress > span {
    float:left;
    text-align: center;
    height: 50%;
}

#progress dt{
    height: 25%;
}

#progress > span {
    font-size: 2.5em;
    padding-top: .1em;
}

#found_word_count {
    margin-left:25%;
}


#found{
    height: 50%;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#found > li{
    width: 10%;
    height: 100%;
    float: left;
}

#play, #control {
}

#play {
    float: left;
    width: 50%;
    height: 40%;
}

#play > dl {
    height: 33.3%;
}

#remaining > button {
    margin-left: 1.5em;
    margin-top: .5em;
    width: 80%;
    height: 1.5em;
    font-size: 1.1em;
 }

#remaining > p {
    font-size: 1.5em;
    padding-top: .5em;
    padding-left: 1em;
    display: none;
}


#control {
    float: right;
    padding-top: 5%;
    width: 50%;
    height: 35%;
}

#control > button {
    width: 80%;
    margin: 0% 10%;
}

#score {
    width: 80%;
    height: 50%;
    margin: auto;
}

#score dd {
    height: 80%;
}
