
<html>
  <head>
    <title>Wordplay</title>
    <link rel="stylesheet" href="styles/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="scripts/jquery2.js"></script>
    <script type="text/javascript" src="scripts/json2.js"></script>
    <script type="text/javascript" src="scripts/playSound.js"></script>
    <script type="text/javascript" src="scripts/wordplay.js"></script>
  </head>
  <body>
    <div id="main">
      <h1>Wordplay</h1>
      <div id="report" class="section">
        <div id="found">
	  <% 12.times.each do |j| %>
          <ul>
	    <% 10.times.each do |i| %>
	    <li><ul id= word_<%= (j*10)+i %>></ul> </li>
	    <% end %>
	  </ul>
	  <% end %>
	</div>
      </div>
    </div>
    <div id="interface" class="section">
      <ul id="words">
	<li>
	  <label for="letters"> Available Letters</label>
	  <ul id="letter" class="word">
   	  </ul>
	  <button type="button" onclick="buttonshuffle()">Shuffle Letters</button>
	  <p id="error">
	  </p>
	</li>
	<li>
	  <label for="guess"> Guessed Letters</label>
          <ul id="guess" class="word">
          </ul>
	  <button type="button" onclick="endgame()">Game Over</button>
	</li>
      </ul>
      <ul id="result" class="display">
        <li>
          <dl id="time">
	    <dt>Time</dt>
            <dd id= "timer"></dd>
          </dl>
        </li> 
        <li>
          <dl id="score">
            <dt>Score</dt>
	    <dd id = "dynamicscore"></dd>
          </dl>
        </li>
      </ul>
      <ul id="status" class="display">
        <li>
          <dl id="count">
            <dt>Words Found</dt>
            <dd id="foundcount"></dd>
          </dl>
        </li>
        <li>
          <dl id="remaining">
            <dt>Remaining</dt>
            <dd id="remcount"></dd>
          </dl>
        </li>
      </ul>
      <dl id="winkitten" class="invisible">
	<dt>      <img src="/images/kitten.jpeg" class="kitty" alt="two hot chicks having sex" /></dt>
	<dd>You Won!</dd>
      </dl>
      <dl id="losekitten" class="invisible">
	<dt>      <img src="/images/angrycat.jpeg" class="kitty" alt="two hot chicks having sex" /></dt>
	<dd>You Lost!</dd>
      </dl>
    </div>
    <div id="highscore" class="invisible">
      <table>
	<caption>High Score</caption>
	<tr>
	  <th>Name</th>
	  <th>Score</th>
	</tr>
	<tr>
	  <td>Elaina</td>
	  <td>100000</td>
	  </tr>
	<tr>
	<td>Peter</td>
	<td>1</td>
	</tr>
      </table>
    </div>
  </body>
</html>
