
<html>
  <head>
    <title>Wordplay</title>
    <link rel="stylesheet" href="styles/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="scripts/jquery2.js"></script>
    <script type="text/javascript" src="scripts/json2.js"></script>
    <script type="text/javascript" src="scripts/playSound.js"></script>
    <script type="text/javascript" src="scripts/wordplay.js"></script>
  </head>
  <body>
    <div id="main">
      <h1>Wordplay</h1>
      <div id="report" class="section">
        <div id="found">
	  <% 12.times.each do |j| %>
          <ul>
	    <% 10.times.each do |i| %>
	    <li><ul id= word_<%= (j*10)+i %>></ul> </li>
	    <% end %>
	  </ul>
	  <% end %>
	</div>
      </div>
    </div>
    <div id="interface" class="section">
      <ul id="words">
	<li>
	  <label for="letters"> Available Letters</label>
	  <ul id="letter" class="word">
   	  </ul>
	  <button type="button" onclick="buttonshuffle()">Shuffle Letters</button>
	  <button type="button" id="newround" class="invisible" onclick="nextword()">Next Round</button>
	  <p id="error">
	  </p>
	</li>
	<li>
	  <label for="guess"> Guessed Letters</label>
          <ul id="guess" class="word">
          </ul>
	  <button id="start" type="button" onclick="startgame()">Click to Start!</button>
	  <button id="end" type="button" onclick="endgame()">Game Over</button>
	</li>
      </ul>
      <ul id="result" class="display">
        <li>
          <dl id="time">
	    <dt>Time</dt>
            <dd id= "timer"></dd>
          </dl>
        </li> 
        <li>
          <dl id="score">
            <dt>Score</dt>
	    <dd id = "dynamicscore"></dd>
          </dl>
        </li>
      </ul>
      <ul id="status" class="display">
        <li>
          <dl id="count">
            <dt>Words Found</dt>
            <dd id="foundcount"></dd>
          </dl>
        </li>
        <li>
          <dl id="remaining">
            <dt>Remaining</dt>
            <dd id="remcount"></dd>
          </dl>
        </li>
      </ul>
      <p id="key">Shift to Start Game -- Shift to Move to Next Level -- Space to Shuffle Letters -- Esc to End Game</p>
      <dl id="winkitten" class="invisible">
highsc	<dt>      <img src="/images/kitten.jpeg" class="kitty" alt="two hot chicks having sex" /></dt>
	<dd>Next Round Available!</dd>
      </dl>
      <dl id="losekitten" class="invisible">
	<dt>      <img src="/images/angrycat.jpeg" class="kitty" alt="two hot chicks having sex" /></dt>
	<dd>Game Over!</dd>
      </dl>
    </div>
    <div id="newhighscore" class="invisible">
      <form method="POST" id="newhighscoreform" action="#">
	<label for="namebox">Enter Your Name</label>
	<input type="text" name="namebox" value="" />
	<button>Submit High Score</button>
      </form>
    </div>
    <div id="highscore" class="invisible">
      <table>
	<caption>High Scores</caption>
	<tr>
	  <th class="name">Name</th>
	  <th class="score">Score</th>
	</tr>
	<% 10.times.each do |i| %>
	<tr id=hs_<%= i %>>
	  <td class="name"></td>
	  <td class="score"></td>
	</tr> 
	<% end %>
      </table>
      <p id="note">Click to Close!</p>
    </div>
  </body>
</html>

