<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="scripts/jquery2.js"></script>
    <script type="text/javascript" src="scripts/underscore.js"></script>
    <script type="text/javascript" src="scripts/json2.js"></script>
    <script type="text/javascript" src="scripts/backbone.js"></script>
    <script type="text/javascript" src="scripts/wordplay.js"></script>
    <title>Wordplay</title>
</head>
  <body>
    <div id="everything">
      <div id="status">
	<dl id="time">
	</dl>
	<h1>Wordplay</h1>
	<dl id="progress">
	</dl>
      </div>
      <ul id="found">
      </ul>
      <div id="play">
	<dl id="available_control">
	  <dt>Available</dt>
	  <dd>
	      <ul id="available" class="letters">
	      </ul>
	    <img src="images/shuffle-on.png" class="shuffle" alt="shuffle" />
	  </dd>
	</dl>
	<dl id="guess_control">
	  <dt>Guess</dt>
	  <dd>
	    <ul id="guess" class="letters"> </ul>
	    <img src="images/submit-off.png" class="submit" alt="submit" />
	  </dd>
	</dl>
	<div id="remaining">
	  <button>
	    LEVEL UP!!!
	    </button>
	  <p><span>X</span> Points  to Next Level</p>
	</div>
      </div>
      <div id="messaging">
      </div>
      <div id="control">
	<button id="start">
	  Start
	  </button>
	<button id="pause">
	  Pause
	  </button>
	<dl id="score">
	</dl>
	<button>
	  Stop
	  </button>
      </div>
    </div>      
    <script id="timer-template" type="text/template">
      <dt>Timer</dt>
      <dd>
	{{= timer }}
      </dd>
    </script>
    <script id="progress-template" type="text/template">
      <dt>Words</dt>
      <dd id="found_word_count">
	{{= found_word_count }}
      </dd>
      <span>/</span>
      <dd id="total_word_count">
	{{= total_word_count }}
      </dd>
    </script>
    <script id="message-template" type="text/template">
      <p id="message">
	{{= message }}
      </p>
      <img src="images/panda_{{= status }}.png" id="messanger"  alt="{{= threat }}" />
    </script>
    <script id="score-template" type="text/template">
      <dt>
	Score
      </dt>
      <dd>
	{{= score}}
      </dd>
    </script>
  </body>
</html>
