body{
    background-image:url('../images/wordplay_bg1.jpg');
    font-size: 100%;
    font-family: 'Courier New', monospace;
    font-variant: small-caps;
    color: black;
}

h1 {
    text-align: center;
    font:  small-caps 100 5em "MV Boli", cursive;
    color: #3a3a3a;
    text-shadow: 0.1em 0.1em .1em grey;
    margin: .5em 0em .25em;
}

label, dt {
    font-size: 2em;
    font-weight: normal;
}

ul{
    list-style-type: none;
}

{

}

label {
    padding: 2.5%;
}

dd{
border: groove thick white;
margin-left: 0;
text-align: center;
font-size: 3em;
font-family: "MV Boli", cursive;
color: #3a3a3a;
}

.section {
    width: 45%;
    float: left;
}

.display {
    height: 1.5em;
    clear: both;
}

.display li {
    float: left;
    width: 45%;
    padding: 2.5%;
}

#words >  li{
clear: both;
padding: 2.5%;
}

#words .word {
border: groove thick white;
padding: 2.5%;
font-size: 4em;
height: 65px;
}

/* .word {  */
/*     padding: 0 16; */
/*     margin: 0 16 */
/* } */

.word li{
    border:solid 3px;
    margin: 2px;
    text-align: center;
    float: left;
    width: 60px;
    height: 60px;
}

/* table{ */
/*     border:solid 3px; */
/*     margin: 2px; */
/* } */


#found > li{
    clear: left;
}

#found li ul  li{
    background-color: white;
    border:solid 1px;
    float: left;
    height: 1em;
    width: 1em;
    font-size: 2em;
  	text-align: center;
}

.kitty{
   clear: both;
   width: 200px;
   height: 200px;
   padding: 5%;
}

/* #words ul{ */
/*     border: solid; */
/*     float: right; */
/* } */


